HOST= ""
PORT= 
USER= ""
PASSWORD= ""
DATABASE= ""

NODE_PORT= 

PYTHON_SERVICE_URL =""
PYTHON_SERVICE_URL_AI =""
TIMEOUT_MS= 

GEMINI_API_KEY= ""

CHAT_SUMMARY_THRESHOLD= 
CHAT_RECENT_MESSAGE_COUNT= 